section{
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    border: 2px solid rgb(126, 126, 126);
    max-width: 850px;
    width: 100%;
    margin: auto;
    height: 25vh;
    display: flex;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 0 5px rgb(0, 0, 182)
}
.field{
    max-width: 200px;
    width: 100%;
    border: none;
    max-height: 200px;
    height: 50%;
    font-size: 25px;
    border-radius: 25px;
    box-shadow: 0 0 5px blue;
}
.field:hover{
    background-color: rgb(241, 241, 241);
    transition: 0.5s;
}
.select{
    max-width: 200px;
    width: 10%;
    max-height: 200px;
    height: 55%;
    padding: 16px 20px;
    border: none;
    border-radius: 25px;
    background-color: #f1f1f1;
    opacity: 0.4;
}
.image{
    max-width: 100px;
    max-height: 100px;
    height: 50%;
    width: 50%;
    margin-left: 30px;
    margin-right: 40px;
}
.endfield{
    max-width: 200px;
    width: 100%;
    border: none;
    max-height: 200px;
    height: 50%;
    font-size: 25px;
    border-radius: 25px;
    box-shadow: 0 0 5px blue;
}
.endfield:hover{
    background-color: rgb(241, 241, 241);
    transition: 0.5s;
}